global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: true  # Allow dashboard without auth (internal use)

entryPoints:
  web:
    address: ":80"
  traefik:
    address: ":8080"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: opengrid
    watch: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

ping:
  entryPoint: web

log:
  level: INFO

accessLog: {}
